<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Arithmetic Operators.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A02495C1E576E6E004A1F67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A0249701E576E6E004A1F67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A02497B1E576E6E004A1F67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
